/* Plinko Board Style */
.plinko-board-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#plinkoCanvas {
    background: #0b0f18;
    border-radius: 10px;
    box-shadow: 0 0 25px #00eaff;
    width: 100%;
    max-width: 400px;
    height: 550px;
}

/* Buttons */
.actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    background: #00eaff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
}

.btn:hover {
    background: #00a7c2;
}
